[Unit]
Description=LUG@USTC Sites Sync Service
After=network.target
Documentation=https://lug.ustc.edu.cn/wiki/serveradm/lug

[Service]
Type=oneshot
ExecStart=/usr/bin/update-lug-sites
User=www-data

[Install]
WantedBy=multi-user.target
