Package: lug-sites-sync
Version: 0.5.0-4
Architecture: all
Maintainer: Boyuan Yang <073plan@gmail.com>
Original-Maintainer: Boyuan Yang <073plan@gmail.com>
Depends: git (>= 2.0.0), dash, systemd (>= 208)
Section: utils
Priority: extra
Homepage: https://lug.ustc.edu.cn/wiki/serveradm/lug/start
Description: scripts and systemd config files to sync sites webpages on LUG@USTC mainpage server
 Note that it requires systemd for timer and sync.
