Source: lug-sites-sync
Section: utils
Priority: extra
Maintainer: Boyuan Yang <073plan@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://lug.ustc.edu.cn/wiki/serveradm/lug/start

Package: lug-sites-sync
Architecture: all
Depends: ${misc:Depends}, git (>= 2.0.0), dash, systemd (>= 208)
Description: files to sync website pages on LUG@USTC mainpage server
 This is a package only for the syncing process for
 lug.ustc.edu.cn/sites/* websites.
